<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script th:src="@{/js/adminAnasayfa.js}"></script>
  <link rel="stylesheet" th:href="@{/css/firma.css}"></link>
  <link rel="stylesheet" th:href="@{/css/template.css}"></link>
<title>Insert title here</title>
<style type="text/css">
	   header a {

   margin-left: 20px;
   margin-right: 20px;
   }
</style>
</head>
<body>
<header th:include="admin/template :: header"></header>
	
	<div class="adminFirma">
		<span th:text="'Firma Email : '+${firma.email}"></span>
		<span th:text="'Firma İsim : '+${firma.firmaName}"></span>
		<span th:text="'Firma Sahibi : '+${firma.firmaOwner}"></span>
		<span>Firma Icon : <img th:src="@{${'/'+firma.email+'/'+firma.firmaImage}}" width="50" height="50" /></span>
		
		<div class="adminFirmaRefarans">
			<table class="table">
				<tr>
					<th>Referans Adı</th>
					<th>Referans Link</th>
					<th>Referans Icon</th>
				</tr>				
				<tr th:each="referans : ${firma.referansList}">
					<td th:text="${referans.referansAdi}"></td>
					<td th:text="${referans.referansLink}"></td>
					<td th:text="${referans.referansImage}"></td>
					<td></td>
				</tr>
				
			</table>	
		
		</div>			
	</div>
	
	<div class="container">
		  <h3>Inline List</h3>
		  <ul class="list-inline">
		    <li><a data-toggle="tab" href="#subeler">ŞUBELER</a></li>
		    <li><a data-toggle="tab" href="#urunler">ÜRÜNLER</a></li>
		    <li><a data-toggle="tab" href="#kampanyalar">KAMPANYALAR</a></li>
		    <li><a data-toggle="tab" href="#hizmetler">HİZMETLER</a></li>
		  </ul>
		  <div class="tab-content">
		  			  <div class="tab-pane" id="subeler">
					  		<div>
							<table class="table">
							<tr>
								<th>Şube Adı</th>
								<th>Şube Email</th>
								<th>Şube Icon</th>
							</tr>
							<tr th:each="sube : ${firma.subeList}">
								<td th:text="${sube.ad}"></td>
								<td th:text="${sube.email}"></td>
								<td><a href="#">Mesaj Gönder</a></td>
							</tr>
					
							</table>			
						</div>
					  </div>
					  
					  <div class="tab-pane" id="urunler">
					  		<div>
							<table class="table">
							<tr>
								<th>Urun Adı</th>
								<th>Urun Fiyat</th>
								<th>Urun Detay</th>
								<th>Urun Kategori Adı</th>
								<th>Urun Alt Kategori Adı</th>
								<th>Urun İkinci Alt Kategori Adı</th>
								<th>Urun Stok Durumu</th>
								<th>Urun Image</th>
								<th>Kampanya Durum</th>
								<th>Urun Kontrol</th>
								<th>Urun Seo</th>

							</tr>
							<tr th:each="urun : ${urunler}">
								<td th:text="${urun.urunAd}"></td>
								<td th:text="${urun.urunFiyat}"></td>
								<td th:text="${urun.urunHakkinda}"></td>
								<td th:text="${urun.kategoriAd}"></td>
								<td th:text="${urun.altKategoriAd}"></td>
								<td th:text="${urun.subKategoriAd}"></td>
								<td th:if="${urun.stokDurumu==false}" th:text="Yok"></td>
								<td th:if="${urun.stokDurumu==true}" th:text="Var"></td>
								<td><img style="height: 100px; width: 100px;" th:src="@{${'/'+firma.email+'/'+firma.firmaImage}}"></img></td>
								
								<td th:if="${urun.kampanyaStatus==true}"><a href="#">Kampanyaya Git</a></td>
								<td th:if="${urun.kampanyaStatus==false}"><a href="#">Kampanya Aktif Değil</a></td>
								<td th:if="${urun.urunControl==true}"><a th:href="'/admin/firma/urunEdit/'+${urun.id}">Kontrol Edildi</a></td>
								<td th:if="${urun.urunControl==false}"><a style="color:red;" th:href="'/admin/firma/urunEdit/'+${urun.id}">Kontrol Et</a></td>
								<td th:if="${urun.seoStatus}"><img style="height: 100px; width: 100px;" src="/img/content/seo_avaliable.png" /></td>
								<td th:if="${urun.seoStatus!=true}"><img style="height: 100px; width: 100px;" src="/img/content/seo_not_avaliable.png" /></td>
							</tr>
					
							</table>			
						</div>
					  </div>
					  
					  <div class="tab-pane" id="kampanyalar">
					  	<div>
					  		<table class="table">
					  			<tr th:each="kampanya :${kampanyalar}">
									<td>
										<table>
											<tr>
												<td>Kampanya Ad :</td>
								  				<td><span th:text="${kampanya.id}"></span></td>	
							  				</tr>
							  				<tr>
							  					<td>Kampanya Id :</td>
							  					<td><span th:text="${kampanya.urunId}"></span></td>	
							  				</tr>
							  				
							  											  				<tr>
							  					<td>Kampanya Fiyat :</td>
							  					<td><span th:text="${kampanya.kampanyaFiyat}"></span></td>	
							  				</tr>
										</table>
									</td>				  				
					  			</tr>
					  		</table>
					  	</div>
					  </div>
					  <div class="tab-pane" id="hizmetler">
					  	<div>
					  		HİZMETLER
					  	</div>
					  </div>
					  
					  
		  </div>

		  
		</div>

</body>
</html>