<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<link rel="stylesheet" th:src="@{/css/template.css}"></link>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<style type="text/css">
	table, th, td {
   border: 1px solid black;

}

</style>
</head>
<body>
		<header th:fragment="header">
			<a href="/logout">LOGOUT</a>
			<a href="/admin/siteGenel">SİTEGENEL</a>
			<a href="/admin/seo/">SEO</a>
			<a href="/admin/firma/">ÜYE FİRMA</a>
			<a href="/admin/urunler/">URUNLER</a>

			<a href="/admin/mesajlar/">MESAJLAR</a>
			<a href="/admin/bireysel/">BİREYSEL ÜYELER</a>
			<a href="/admin/takip/">TAKİP</a>
			<a href="/admin/uygulama/">UYGULAMA TAKİP</a>
		</header>
	
</body>

</html>