<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/css/select2.css}" rel="stylesheet"></link>
  <link rel="stylesheet" th:href="@{/css/style.css}" ></link>


  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,800%7COpen+Sans:400italic,400,600,700' rel='stylesheet' type='text/css'>


<script src="js/media.match.min.js"></script>
<link rel="stylesheet" th:href="@{/css/adminFirmaStyle.css}"></link>
<link rel="stylesheet" th:src="@{/css/template.css}"></link>


<body>
<div class="header-search slider-home" th:include="firma/template_content :: header-search-slider"></div>
<div id="firmaInformation" th:include="firma/template :: firmaInformation"></div>
<div id="master_panel">
<header th:include="firma/template :: header"></header>

<div id="content" th:include="firma/template :: content"></div>
</div>

<a href="/logout">LOGOUT</a>
</body>
</html>