<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="firma/template :: head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
</head>

<body>
<div id="main-wrapper">
  <header id="header">
    <div class="header-top-bar">
      <div class="container">
        <!-- HEADER-LOGIN -->
        <div th:include="firma/template :: header-login"></div> <!-- END .HEADER-LOGIN -->


        <!-- HEADER-LOG0 -->
        <div class="header-logo text-center">
          <h2><a href="index.html">GL<i class="fa fa-globe"></i>BO</a></h2>
        </div>
        <!-- END HEADER LOGO -->

        <!-- HEADER-SOCIAL -->
        <div class="header-social" th:include="firma/template :: header-social">

        </div>
        <!-- END HEADER-SOCIAL -->

        <!-- HEADER-LANGUAGE -->
        <div class="header-language">
          <a href="#">
            <span>EN</span>
            <i class="fa fa-chevron-down"></i>
          </a>

          <ul class="list-unstyled">
            <li class="active"><a href="#">EN</a></li>
            <li><a href="#">FR</a></li>
            <li><a href="#">PT</a></li>
            <li><a href="#">IT</a></li>
          </ul>
        </div> <!-- END HEADER-LANGUAGE -->

        <!-- CALL TO ACTION -->
        <div class="header-call-to-action">
          <a href="#" class="btn btn-default"><i class="fa fa-plus"></i> Add Listing</a>
        </div><!-- END .HEADER-CALL-TO-ACTION -->

      </div><!-- END .CONTAINER -->
    </div>
    <!-- END .HEADER-TOP-BAR -->

    <!-- HEADER SEARCH SECTION -->
    <div class="header-search company-profile-height">
      <div class="header-search-bar" th:include="firma/template :: header-search-bar">
      </div> <!-- END .header-search-bar -->

      <div class="company-heading-view">
        <div class="container">
          <div class="button-content">
            <button class="general-view-btn active"><i class="fa fa-newspaper-o"></i><span>General</span></button>
            <button class="map-view-btn"><i class="fa fa-map-marker"></i><span>Map</span></button>
            <button class="male-view-btn"><i class="fa fa-male"></i><span>Street</span></button>
          </div>
        </div>

        <div class="company-slider-content" th:include="firma/template :: company-slider-content">


        </div> <!-- END .company-slider-content -->

      </div> <!-- END .about-us-heading -->

    </div> <!-- END .SEARCH and slide-section -->


    <div class="header-nav-bar" th:include="firma/template :: header-nav-bar">

    </div> <!-- end .header-nav-bar -->
  </header> <!-- end #header -->

  <div id="page-content">
  <div class="container">

  <ul class="nav nav-tabs" id="navs">
    <li class="active"><a data-toggle="tab" href="#home">ŞUBE EKLE</a></li>
    <li><a data-toggle="tab" href="#menu1">ŞUBE DÜZENLE</a></li>
    <li><a data-toggle="tab" href="#menu2">SATIŞ NOKTASI EKLE</a></li>
    <li><a data-toggle="tab" href="#menu3">SATIŞ NOKTASI DÜZENLE</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
 
      <h3>ŞUBE EKLE</h3>
      
      				<form id="subeForm_sube" th:object="${sube}" action="/firma/admin/subeSave" method="POST">
      				<input type="hidden" value="sube" name="subeSatisStatus" />
					<input th:field="*{ad}" type="text" required="required" placeHolder="Şube Adı" />
					<input th:field="*{email}" type="text" required="required" placeHolder="Şube Email" />
					<input th:field="*{subeSorumlusu}" type="text" required="required" placeHolder="Şube Sorumlusu" />
					<input th:field="*{subeSorumlusuTelefon}" type="text" required="required" placeHolder="Şube Sorumlu Telefon" />
					<input th:field="*{subeTelefon}" type="text" required="required" placeHolder="Şube Telefon" />
					<input id="subeKonum" style="width: 25%;" th:field="*{subeKonum}" type="text" required="required" placeHolder="Şube Konum" />
					<a style="width: 25%;position:relative; right; left:100px; cursor: pointer;" onclick="$.mapsLoad()">Konumu Haritada Ara</a>
					<input th:field="*{subeAdres}" type="text" required="required" placeHolder="Şube Adres" />
					<input type="submit" value="Kaydet" />
					
				</form>

		
    </div>
    <div id="menu1" class="tab-pane fade">
		<table class="table">
			<tr>
				<th>ŞUBE ADI</th>
				<th>ŞUBE MAİL</th>
				<th>ŞUBE SORUMLUSU</th>
				<th>ŞUBE SORUMLUSU TELEFON</th>
				<th>KONUM</th>
				<th>ADRES</th>
				<th>DÜZENLE</th>
				<th>SİL</th>
			</tr>
			<tr th:each="sube : ${subeList}">
				<td th:text="${sube.ad}"></td>
				<td th:text="${sube.email}"></td>
				<td th:text="${sube.subeSorumlusu}"></td>
				<td th:text="${sube.subeSorumlusuTelefon}"></td>
				<td th:text="${sube.subeKonum}"></td>
				<td th:text="${sube.subeAdres}"></td>
				
				
				<td><a href="#" th:onclick="'$.updateSube(\''+${sube.id}+'\');'">Düzenle</a></td>
				<td><a th:href="'/firma/admin/deleteSube/'+${sube.id}">Sil</a></td>
			</tr>
			
		
		</table>



      
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>SATIŞ NOKTASI EKLE</h3>
            		<form id="subeForm_satis" th:object="${sube}" action="/firma/admin/subeSave" method="POST">
            		<input type="hidden" value="satisNoktasi" name="subeSatisStatus" />
					<input th:field="*{ad}" type="text" required="required" placeHolder="Satış Noktası Adı" />
					<input th:field="*{email}" type="text" required="required" placeHolder="Satış Noktası Email" />
					<input th:field="*{subeSorumlusu}" type="text" required="required" placeHolder="Satış Noktası Sorumlusu" />
					<input th:field="*{subeSorumlusuTelefon}" type="text" required="required" placeHolder="Satış Noktası Sorumlu Telefon" />
					<input th:field="*{subeTelefon}" type="text" required="required" placeHolder="Satış Noktası Telefon" />
					<input id="subeKonum" style="width: 25%;" th:field="*{subeKonum}" type="text" required="required" placeHolder="Satış Noktası Konum" />
					<a style="width: 25%;position:relative; right; left:100px; cursor: pointer;" onclick="$.mapsLoad()">Konumu Haritada Ara</a>
					<input id="subeAdres" th:field="*{subeAdres}" type="text" required="required" placeHolder="Satış Noktası Adres" />
					<input type="submit" value="Kaydet" />					
				</form>
<!-- modal burdaydı -->
      
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>SATIŞ NOKTASI DÜZENLE</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
  <!--  
	<div id="tab1">
		<ul class="nav nav-pills">
			<li><a data-toggle="tab" href="#satis">Satış noktası/Şube Ekle</a></li>
			<li><a data-toggle="tab" href="#update">Göster/Düzenle</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="satis">

			<ul class="nav nav-pills">
			<li><a data-toggle="tab" href="#satis_noktasi">Satış noktası ekle</a></li>
			<li><a data-toggle="tab" href="#sube">Şube ekle</a></li>
			</ul>

				<div class="tab-content">
					<div class="tab-pane" id="satis_noktasi">
				<h3>Satış noktası ekle</h3>
					<form th:object="${sube}" action="/firma/admin/satisNoktasiSave" method="POST">
						<input th:field="*{ad}" type="text" placeHolder="Kampanya Adı" />
						
						
					</form>
					</div>
					<div class="tab-pane" id="sube">
						<h2>Şube Ekle</h2>
				<form th:object="${sube}" action="/firma/admin/subeSave" method="POST">
					<input th:field="*{ad}" type="text" required="required" placeHolder="Şube Adı" />
					<input th:field="*{email}" type="text" required="required" placeHolder="Şube Email" />
					<input type="submit" value="Kaydet" />
					
				</form>
					</div>
				</div>
				

			</div>
			
			


			</div>
			
			<div class="tab-pane" id="update">
			Satış noktası ve Şube listesi
			</div>
		</div>
	
	</div>
	</div>
	-->
  </div> <!-- end #page-content -->


  <footer id="footer">
    <div class="main-footer">

      <div class="container">
        <div class="row">

          <div class="col-md-3 col-sm-6">
            <div class="about-globo">
              <h3>About Globo</h3>

              <div class="footer-logo">
                <a href="#"><img src="img/footer_logo.png" alt=""></a>
                <span></span> <!-- This content for overlay effect -->
              </div>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.</p>

            </div> <!-- End .about-globo -->
          </div> <!-- end Grid layout-->

          <div class="col-md-3 col-sm-6">
            <h3>Latest From Blog</h3>

            <div class="latest-post clearfix">
              <div class="post-image">
                <img src="img/content/latest_post_1.jpg" alt="">

                <p><span>12</span>Sep</p>
              </div>

              <h4><a href="#">Post Title Goes Here</a></h4>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="latest-post clearfix">
              <div class="post-image">
                <img src="img/content/latest_post_2.jpg" alt="">

                <p><span>09</span>Sep</p>
              </div>

              <h4><a href="#">Post Title Goes Here</a></h4>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div> <!-- end Grid layout-->

          <div class="col-md-3 col-sm-6 clearfix">
            <div class="popular-categories">
              <h3>Popular Categories</h3>

              <ul>
                <li><a href="#"><i class="fa fa-shopping-cart"></i>E-commerce</a></li>
                <li><a href="#"><i class="fa fa-paper-plane-o"></i>Entertainment</a></li>
                <li><a href="#"><i class="fa fa-cogs"></i>Industry</a></li>
                <li><a href="#"><i class="fa fa-book"></i>Libraries &amp; Public Office</a></li>
                <li><a href="#"><i class="fa fa-building-o"></i>Real Estate</a></li>
              </ul>
            </div> <!-- end .popular-categories-->
          </div> <!-- end Grid layout-->

          <div class="col-md-3 col-sm-6">
            <div class="newsletter">
              <h3>Newsletter</h3>

              <form action="#">
                <input type="Email" placeholder="Email address">
                <button><i class="fa fa-plus"></i></button>
              </form>

              <h3>Keep In Touch</h3>

              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div> <!-- end .newsletter-->

          </div> <!-- end Grid layout-->
        </div> <!-- end .row -->
      </div> <!-- end .container -->
    </div> <!-- end .main-footer -->

    <div class="copyright">
      <div class="container">
        <p>Copyright 2014 &copy; globo. All rights reserved. Powered by  <a href="#">Uouapps</a></p>

        <ul class="list-inline">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Shortcodes</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div> <!-- END .container -->
    </div> <!-- end .copyright-->
  </footer> <!-- end #footer -->
</div>
</div> <!-- end #main-wrapper -->

		<!-- Modal -->
<div id="modalSubeForUpdate" class="modal fade" role="dialog" style="z-index: 9999;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sube Düzenle</h4>
      </div>
      <div class="modal-body">
      <form th:object="${sube}" action="/firma/admin/updateSube">
      <table>
      	<tr>
      		<td>Şube Ad :</td>
      		<td><input th:field="*{ad}" id="subeAd" type="text" placeHolder="Şube Adı"/></td>
      	</tr>
      	<tr>
      		<td>Email :</td>
      		<td><input th:field="*{email}" id="subeMail" type="text"placeHolder="Şube Email" /></td>
      	</tr>
      	<tr>
      		<td>Şube Sorumlusu :</td>
      		<td><input th:field="*{subeSorumlusu}" type="text" required="required" placeHolder="Şube Sorumlusu"/></td>
      	</tr>
      	<tr>
      		<td>Şube Sorumlusu Telefon :</td>
      		<td><input th:field="*{subeSorumlusuTelefon}" type="text" required="required" placeHolder="Şube Sorumlusu Telefon" /></td>
      	</tr>
      	<tr>
      		<td>Şube Telefon :</td>
      		<td><input th:field="*{subeTelefon}" type="text" required="required" placeHolder="Şube Telefon"/></td>      		
      	</tr>
      	<tr>
      		<td>Şube Konum :</td>
      		<td><input th:field="*{subeKonum}" type="text" required="required" placeHolder="Konum"/></td>
      		
      	</tr>
      	<tr>
      		<td>Şube Adres :</td>
      		<td><input th:field="*{subeAdres}" type="text" required="required" placeHolder="Şube Adres"/></td>
      	</tr>
      	<tr>
      		<td><input type="submit" value="KAYDET" /></td>
      	</tr>
      </table>
 
        
      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<div id="mapsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Modal Header</h4>
			      </div>
			      <div class="modal-body">
			      <!-- maps load -->
						
							<div class="pac-card" id="pac-card">
			  <div>
			
			    <div id="type-selector" class="pac-controls">
			
			    </div>
			
			  </div>
				  <div id="pac-container">
				    <input id="pac-input" style="height: 40px;" type="text"
				        placeholder="Adres giriniz.">
				  </div>
				</div>
				<div id="map" style="height: 400px;"></div>
				<div id="infowindow-content">
				  <img src="" width="16" height="16" id="place-icon">
				  <span id="place-name"  class="title"></span><br>
				  <span id="place-address"></span>
				</div>
						
			<!-- maps load -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script th:src="@{/js/jquery.ba-outside-events.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>


<script src="js/scripts.js"></script>
<script type="text/javascript">

	  function initMap() {
	    var map = new google.maps.Map(document.getElementById('map'), {
	      center: {lat: -33.8688, lng: 151.2195},
	      zoom: 13
	    });
	    var card = document.getElementById('pac-card');
	    var input = document.getElementById('pac-input');
	    var types = document.getElementById('type-selector');
	    var strictBounds = document.getElementById('strict-bounds-selector');

	    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

	    var autocomplete = new google.maps.places.Autocomplete(input);

	    // Bind the map's bounds (viewport) property to the autocomplete object,
	    // so that the autocomplete requests use the current map bounds for the
	    // bounds option in the request.
	    autocomplete.bindTo('bounds', map);

	    var infowindow = new google.maps.InfoWindow();
	    var infowindowContent = document.getElementById('infowindow-content');
	    infowindow.setContent(infowindowContent);
	    var marker = new google.maps.Marker({
	      map: map,
	      anchorPoint: new google.maps.Point(0, -29)
	    });

	    autocomplete.addListener('place_changed', function() {
	      infowindow.close();
	      marker.setVisible(false);
	      var place = autocomplete.getPlace();
	      if (!place.geometry) {
	        // User entered the name of a Place that was not suggested and
	        // pressed the Enter key, or the Place Details request failed.
	        window.alert("No details available for input: '" + place.name + "'");
	        return;
	      }

	      // If the place has a geometry, then present it on a map.
	      if (place.geometry.viewport) {
	        map.fitBounds(place.geometry.viewport);
	      } else {
	        map.setCenter(place.geometry.location);
	        map.setZoom(17);  // Why 17? Because it looks good.
	      }
	      $('input[id="subeKonum"]').val(place.geometry.location);
	      marker.setPosition(place.geometry.location);
	      marker.setVisible(true);
	      $("#mapsLoad").modal("hide");
	      var address = '';
	      if (place.address_components) {
	        address = [
	          (place.address_components[0] && place.address_components[0].short_name || ''),
	          (place.address_components[1] && place.address_components[1].short_name || ''),
	          (place.address_components[2] && place.address_components[2].short_name || '')
	        ].join(' ');
	      }
			$('input[id="subeAdres"]').val(address);
	      infowindowContent.children['place-icon'].src = place.icon;
	      infowindowContent.children['place-name'].textContent = place.name;
	      infowindowContent.children['place-address'].textContent = address;
	      infowindow.open(map, marker);
	    });
	    

	    // Sets a listener on a radio button to change the filter type on Places
	    // Autocomplete.

	  }
	  
	  
	
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnPlYtr2-O1O7lmFcPGod4Wm9lzGQrpQI&libraries=places&callback=initMap" async defer></script>
<script th:src="@{/js/owl.carousel.js}"></script>
<script type="text/javascript" th:src="@{/js/gomap.js}"></script>
<script type="text/javascript" th:src="@{/js/gmaps.js}"></script>
<script th:src="@{/js/jquery.placeholder.min.js}"></script>
<script th:src="@{/js/select2.min.js}"></script>
<script type="text/javascript">
  // gmap for street view
  panorama = GMaps.createPanorama({
    el: '#company_map_canvas_street',
    lat : 37.7762546,
    lng : -122.43277669999998,
  });
  </script>
  
  


</body>
</html>
