@CHARSET "UTF-8";

.adminFirma{
	background-color:aqua;
	width: 50%;
    margin-left:auto;
    margin-right: auto;
}
.adminFirma span{
	display: block;
}
.adminFirmaReferans{
	width: 50%;
	position:relative;
	float: left;
}